<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!-- <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style> -->

</head>

<body>

    <!-- {{loginForm.value | json}} -->

    <main class="form-signin">

        <h1 class="h3 mb-3 fw-normal">User sign in</h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
                <!-- <label>User-ID</label> -->
                <input [class.is-invalid]="loginForm.get('userId').invalid && loginForm.get('userId').touched"
                    formControlName="userId" type="text" class="form-control" id="floatingInput" required>
                <label for="floatingInput">User-ID</label>
                <div *ngIf="loginForm.get('userId').invalid && loginForm.get('userId').touched">
                    <small *ngIf="loginForm.get('userId').errors?.required" class="text-danger">User-Id is
                        required</small>
                </div>
            </div>

            <div class="form-floating mb-3">
                <!-- <label>Password</label> -->
                <input [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched"
                    formControlName="password" type="password" class="form-control" id="floatingPassword" required>
                <label for="floatingPassword">Password</label>
                <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                    <small *ngIf="loginForm.get('password').errors?.required" class="text-danger">password is
                        required</small>
                    <small *ngIf="loginForm.get('password').errors?.minlength" class="text-danger">password should
                        be 8 charaters long</small>
                </div>
            </div>




            <!-- <div class="wrapper">
                <input formControlName="role" type="radio" name="role" id="option-1" value="CUSTOMER" checked>
                <input formControlName="role" type="radio" name="role" id="option-2" value="ADMIN">
                <label for="option-1" class="option option-1">
                    <div class="dot"></div>
                    <span>Customer</span>
                </label>
                <label for="option-2" class="option option-2">
                    <div class="dot"></div>
                    <span>Admin</span>
                </label>
            </div> -->




            <div class="mb-3">
                <div class="form-check">
                    <input formControlName="role" class="form-check-input" type="radio" name="role" value="CUSTOMER">
                    <label class="form-check-label" for="exampleRadios1">
                        Customer
                    </label>
                </div>
                <div class="form-check">
                    <input formControlName="role" class="form-check-input" type="radio" name="role" value="ADMIN">
                    <label class="form-check-label" for="exampleRadios2">
                        Admin
                    </label>
                </div>
            </div>
            <small *ngIf="loginError" class="text-danger">Invalid User Details, please check and try again</small>
            <button [disabled]="!loginForm.valid" type="submit" class="w-100 btn btn-lg btn-dark">Sign-in</button>

        </form>

    </main>

</body>

</html>