body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
  }
  
  p{
    color: #8f8f8f;
  }
  
  /* Headings */
  .big-heading{
    color: #0d7377;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
  }
  
  .section-heading{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .container-fluid{
    padding: 3% 15% 8%;
  }
  
  /* Navigation Bar */
  .navbar-brand{

    color: #ffde7d;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;
  }
  
  .navbar{
    padding: 0 0 4.5rem;
  }
  
  .nav-item{
    padding: 0 18px;
  }

  .nav-item:hover{
    color: #0d7377;
  }
  
  .nav-link{

    color: #f9f7f7;
    font-size: 1.5rem;
    
  }

  .nav-link:hover{
    color: #0d7377;
  }
  
  #title{
    background-color: black;
    color: #fff;
    text-align: left;
  }
  
  /* Download Buttons */
  .download-btn{
    margin: 5% 3% 5% 0;
  }
  
  /* Title Image */
  .title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 27%;
  }
  
  /* features */
  #features{
    padding: 7% 10%;
    background-color: #ffde7d;
    position: relative;
  }
  
  .features-icon{
    color: #ef8172;
    margin-bottom: 1rem;
  }
  
  .features-icon:hover{
    color: #ff4c68;
  }
  
  .feature-title{
    font-weight: bold;
  }
  
  .features-description{
    padding: 0 12%;
  }
  
  /* Testimonials */
  #testimonials{
    background-color: #ff4c68;
    color: #fff;
  }
  
  .testimonial-text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .testimonial-image{
    width: 15%;
    margin: 20px;
    border-radius: 100%;
    height: 165px;
  }
  
  .carousel-item{
    padding: 7% 15%;
  }
  
  /* press */
  #press{
    background-color: #ff4c68;
    padding-bottom: 3%;
  }
  
  .press-logo{
    width: 15%;
    margin: 20px 20px 50px;
  }
  
  /* Pricing */
  #pricing{
    padding: 100px;
  }
  
  .pricing-breed-heading{
    font-weight: bold;
  }
  
  .pricing-text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .pricing-cards{
    padding: 3%;
  }
  
  @media (max-width: 1028px) {
  .title-img{
    position: static;
    transform: rotate(0);
  }
  
  #title{
    text-align: center;
  }
  }
  
  /* call to action */
  
  #cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    color: #fff;
  }
  
  /* footer */
  #footer{
    background-color: #0d7377;
    padding: 5% 0;
  }
  
  .footer-icon{
    margin: 15px 20px;
  }
  
  .footer-p{
    color: #ffde7d;
    padding: 30px 0 0;
  }
  