<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Ubuntu:wght@300&display=swap">

</head>




<body>


    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand">Internet Banking</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a [routerLink]="['/customer', customer?.userId]" class="nav-link active" href="#"
                        aria-current="page">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="main-body">
            <div class="col-lg-4">
                <div class="card" id="customerCard">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
                                class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                                <h4>{{customer?.customerName}}</h4>
                                <p class="text-secondary mb-1">{{ 'Email: ' + customer.emailId}}</p>
                                <p class="text-muted font-size-sm">{{'Age: ' + customer?.age}}</p>
                                <button [routerLink]="['/account', account?.accountId]" class="btn btn-outline-primary">
                                    My Bank Account</button>
                                <button (click)="populateDetails()" class="btn btn-primary">Update Details</button>
                            </div>
                        </div>
                        <hr class="my-4">

                    </div>
                </div>






                <section id="#CustomerProfileFrom">

                    <div class="card" id="detailsCard">

                        <div class="card-body">


                            <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                                <div class="form-floating mb-3">
                                    <input
                                        [class.is-invalid]="customerForm.get('customerName').invalid && customerForm.get('customerName').touched"
                                        formControlName="customerName" type="text" class="form-control"
                                        id="floatingInput" required>
                                    <label for="floatingInput">Name</label>
                                    <div
                                        *ngIf="customerForm.get('customerName').invalid && customerForm.get('customerName').touched">
                                        <small *ngIf="customerForm.get('customerName').errors?.required"
                                            class="text-danger">Name
                                            is
                                            required</small>
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <input
                                        [class.is-invalid]="customerForm.get('emailId').invalid && customerForm.get('emailId').touched"
                                        formControlName="emailId" type="text" class="form-control" id="floatingInput"
                                        required>
                                    <label for="floatingInput">Email</label>
                                    <div
                                        *ngIf="customerForm.get('emailId').invalid && customerForm.get('emailId').touched">
                                        <small *ngIf="customerForm.get('emailId').errors?.required"
                                            class="text-danger">Email is
                                            required</small>
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <input
                                        [class.is-invalid]="customerForm.get('phoneNo').invalid && customerForm.get('phoneNo').touched"
                                        formControlName="phoneNo" type="number" class="form-control" id="floatingInput"
                                        required>
                                    <label for="floatingInput">Phone</label>
                                    <div
                                        *ngIf="customerForm.get('phoneNo').invalid && customerForm.get('phoneNo').touched">
                                        <small *ngIf="customerForm.get('phoneNo').errors?.required"
                                            class="text-danger">Phone No
                                            is
                                            required</small>
                                    </div>
                                </div>

                                <button [disabled]="!customerForm.valid" type="submit"
                                    class="w-100 btn btn-lg btn-dark">Update</button>
                            </form>

                        </div>

                    </div>

                    <div class="card" id="passwordCard">

                        <div class="card-body">


                            <form [formGroup]="passwordForm" (ngSubmit)="passwordChange()">

                                <div class="form-floating mb-3">
                                    <input
                                        [class.is-invalid]="passwordForm.get('password').invalid && passwordForm.get('password').touched"
                                        formControlName="password" type="password" class="form-control"
                                        id="floatingInput" required>
                                    <label for="floatingInput">Password</label>
                                    <div
                                        *ngIf="passwordForm.get('password').invalid && passwordForm.get('password').touched">
                                        <small *ngIf="passwordForm.get('password').errors?.required"
                                            class="text-danger">password is
                                            required</small>
                                        <small *ngIf="passwordForm.get('password').errors?.minlength"
                                            class="text-danger">password should have atleast 8
                                            charaters</small>
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <input
                                        [class.is-invalid]="passwordForm.get('confirmPassword').invalid && passwordForm.get('confirmPassword').touched"
                                        formControlName="confirmPassword" type="password" class="form-control"
                                        id="floatingInput" required>
                                    <small class="text-danger" *ngIf="passwordForm.errors?.misMatch">passwords do not
                                        match</small>
                                    <label for="floatingInput">Confirm Password</label>
                                    <div
                                        *ngIf="passwordForm.get('confirmPassword').invalid && passwordForm.get('confirmPassword').touched">
                                        <small *ngIf="passwordForm.get('confirmPassword').errors?.required"
                                            class="text-danger">Please enter the new password again
                                        </small>
                                    </div>
                                </div>

                                <button [disabled]="!passwordForm.valid" type="submit"
                                    class="w-100 btn btn-lg btn-dark">Change
                                    Password</button>



                            </form>
                        </div>

                    </div>


                </section>





            </div>
        </div>
    </div>


</body>