<p>account works!</p>

{{account | json}}

<br>


<section id="#Beneficiaries">

<h1>beneficiaries</h1>

<div *ngFor = "let b of account?.beneficiaries">


    <p>{{b | json}} </p>

    <button (click) = "updateBeneficiary(b)" class="btn btn-lg btn-dark">update</button>

    <button (click) = "removeBeneficiary(b)" class="btn btn-lg btn-dark">delete</button>


</div>



<form [formGroup]="beneficiaryForm" (ngSubmit)="addBeneficiary()">
    <div class="form-floating mb-3">
        <!-- <label>User-ID</label> -->
        <input [class.is-invalid]="beneficiaryForm.get('beneficiaryId').invalid && beneficiaryForm.get('beneficiaryId').touched"
            formControlName="beneficiaryId" type="number" class="form-control" id="floatingInput" required>
        <label for="floatingInput">Beneficiary-ID</label>
        <div *ngIf="beneficiaryForm.get('beneficiaryId').invalid && beneficiaryForm.get('beneficiaryId').touched">
            <small *ngIf="beneficiaryForm.get('beneficiaryId').errors?.required" class="text-danger">User-Id is
                required</small>
        </div>
    </div>

    <div class="form-floating mb-3">
        <!-- <label>User-ID</label> -->
        <input [class.is-invalid]="beneficiaryForm.get('beneficiaryName').invalid && beneficiaryForm.get('beneficiaryName').touched"
            formControlName="beneficiaryName" type="text" class="form-control" id="floatingInput" required>
        <label for="floatingInput">Beneficiary Name</label>
        <div *ngIf="beneficiaryForm.get('beneficiaryName').invalid && beneficiaryForm.get('beneficiaryName').touched">
            <small *ngIf="beneficiaryForm.get('beneficiaryName').errors?.required" class="text-danger">Name is
                required</small>
        </div>
    </div>

    <div class="form-floating mb-3">
        <!-- <label>User-ID</label> -->
        <input [class.is-invalid]="beneficiaryForm.get('beneficiaryAccNo').invalid && beneficiaryForm.get('beneficiaryAccNo').touched"
            formControlName="beneficiaryAccNo" type="text" class="form-control" id="floatingInput" required>
        <label for="floatingInput">Beneficiary Account No</label>
        <div *ngIf="beneficiaryForm.get('beneficiaryAccNo').invalid && beneficiaryForm.get('beneficiaryAccNo').touched">
            <small *ngIf="beneficiaryForm.get('beneficiaryAccNo').errors?.required" class="text-danger">Account Number is
                required</small>
        </div>
    </div>

    <div class="form-floating mb-3">
        <!-- <label>User-ID</label> -->
        <input [class.is-invalid]="beneficiaryForm.get('ifsc').invalid && beneficiaryForm.get('ifsc').touched"
            formControlName="ifsc" type="text" class="form-control" id="floatingInput" required>
        <label for="floatingInput">IFSC</label>
        <div *ngIf="beneficiaryForm.get('ifsc').invalid && beneficiaryForm.get('ifsc').touched">
            <small *ngIf="beneficiaryForm.get('ifsc').errors?.required" class="text-danger">IFSC Code is
                required</small>
        </div>
    </div>

    <!-- <div class="form-floating mb-3">
        <input [class.is-invalid]="beneficiaryForm.get('accountType').invalid && beneficiaryForm.get('accountType').touched"
            formControlName="accountType" type="text" class="form-control" id="floatingInput" required>
        <label for="floatingInput">IFSC</label>
        <div *ngIf="beneficiaryForm.get('accountType').invalid && loginForm.get('accountType').touched">
            <small *ngIf="beneficiaryForm.get('accountType').errors?.required" class="text-danger">Account Type is
                required</small>
        </div>
    </div> -->

    <div class="mb-3">
        <div class="form-check">
            <input formControlName="accountType" class="form-check-input" type="radio" name="accountType" value="SAVINGS">
            <label class="form-check-label" for="exampleRadios1">
                Savings
            </label>
        </div>
        <div class="form-check">
            <input formControlName="accountType" class="form-check-input" type="radio" name="accountType" value="CURRENT">
            <label class="form-check-label" for="exampleRadios2">
                Current
            </label>
        </div>
    </div>
    

    <button [disabled]="!beneficiaryForm.valid" type="submit" class="w-100 btn btn-lg btn-dark">Add/Update Beneficiary</button>

</form>

</section>
