<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">

    <!-- Fontawesome script -->
    <script src="https://kit.fontawesome.com/93cf8353b2.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand">Internet Banking</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a [routerLink]="['/customer', customer?.userId]" class="nav-link active" href="#"
                            aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onAccountDetails()">My Account</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdropTransaction">Transfer Money</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdropWithdraw">Withdraw</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Deposit</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" [routerLink]="['/account', account?.accountId]">Manage Nominees</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/account', account?.accountId]">Manage Beneficiaries</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" [routerLink]="['/profile', customer?.userId]">My Profile</a></li>
                        </ul>
                    </li>
                </ul>
                <p routerLink="/login">Logout</p>
            </div>
        </div>
    </nav>



    <div class="accountCard col-lg-3 WelcomeDetails">

        <h1>Welcome <span id="customerName">{{customer?.customerName}}</span></h1><br>

        <h5>Account Balance</h5>

        <h1 id="balanceTitle" (click)="onAccountDetails()">{{ '₹' + account?.balance}}</h1>




    </div>

    <section class=" card col-lg-8" id="moneyActions">

        <div class="col-lg-12 col-md-4 col-sm-4 transactionCards">
            <div class="container-fluid row">
                <h1 id="transactionHeading">Make Transactions on the Go</h1>
                <div class="col-xl-4 col-lg-6 " data-bs-toggle="modal" data-bs-target="#staticBackdropTransaction">
                    <div class="card l-bg-orange-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-rupee-sign"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Transfer Money</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="text-right">
                                    <span>Secure Transfer <i class="fas fa-rupee-sign"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <div class="card l-bg-green-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-rupee-sign"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Deposit Money</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="text-right">
                                    <span>Add Money <i class="fas fa-rupee-sign"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6" data-bs-toggle="modal" data-bs-target="#staticBackdropWithdraw">
                    <div class="card l-bg-cherry">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-rupee-sign"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Withdraw Money</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="text-right">
                                    <span>Take Amount <i class="fas fa-rupee-sign"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>






    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Deposit Money</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form [formGroup]="depositForm" (ngSubmit)="depositMoney()">
                        <div class="form-floating mb-3">
                            <input
                                [class.is-invalid]="depositForm.get('amount').invalid && depositForm.get('amount').touched"
                                formControlName="amount" type="text" class="form-control" id="floatingInput" required>
                            <label for="floatingInput">Deposit Amount</label>
                            <div *ngIf="depositForm.get('amount').invalid && depositForm.get('amount').touched">
                                <small *ngIf="depositForm.get('amount').errors?.required" class="text-danger">Amount is
                                    required</small>
                            </div>
                        </div>
                        <button type="submit" [disabled]="!depositForm.valid" class="btn btn-primary">Deposit</button>
                        <br>
                        <small class="success" *ngIf="depositStatus">Deposit Successful</small>
                    </form>

                </div>
                <div class="modal-footer">
                    <button (click)="reloadCurrentPage()" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="staticBackdropTransaction" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Transfer Money</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form [formGroup]="transferForm" (ngSubmit)="transferMoney()">
                        <div class="form-floating mb-3">
                            <input
                                [class.is-invalid]="transferForm.get('receiverAccountId').invalid && transferForm.get('receiverAccountId').touched"
                                formControlName="receiverAccountId" type="text" class="form-control" id="floatingInput"
                                required>
                            <label for="floatingInput">Receiver Account Id</label>
                            <div
                                *ngIf="transferForm.get('receiverAccountId').invalid && transferForm.get('receiverAccountId').touched">
                                <small *ngIf="transferForm.get('receiverAccountId').errors?.required"
                                    class="text-danger">Receiver Account Id is
                                    required</small>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                [class.is-invalid]="transferForm.get('amount').invalid && transferForm.get('amount').touched"
                                formControlName="amount" type="text" class="form-control" id="floatingInput" required>
                            <label for="floatingInput">Transfer Amount</label>
                            <div *ngIf="transferForm.get('amount').invalid && transferForm.get('amount').touched">
                                <small *ngIf="transferForm.get('amount').errors?.required" class="text-danger">Amount is
                                    required</small>
                            </div>
                        </div>
                        <button type="submit" [disabled]="!transferForm.valid" class="btn btn-primary">Transfer</button>
                        <br>
                        <small class="success" *ngIf="transferStatus">Transfer Successful</small>
                    </form>

                </div>
                <div class="modal-footer">
                    <button (click)="reloadCurrentPage()" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="staticBackdropWithdraw" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Withdraw Money</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form [formGroup]="withdrawForm" (ngSubmit)="withdrawMoney()">
                        <div class="form-floating mb-3">
                            <input
                                [class.is-invalid]="withdrawForm.get('amount').invalid && withdrawForm.get('amount').touched"
                                formControlName="amount" type="text" class="form-control" id="floatingInput" required>
                            <label for="floatingInput">Withdraw Amount</label>
                            <div *ngIf="withdrawForm.get('amount').invalid && withdrawForm.get('amount').touched">
                                <small *ngIf="withdrawForm.get('amount').errors?.required" class="text-danger">Amount is
                                    required</small>
                            </div>
                        </div>
                        <button type="submit" [disabled]="!withdrawForm.valid" class="btn btn-primary">Withdraw</button>
                        <br>
                        <small class="success" *ngIf="withdrawStatus">Withdraw Successful</small>
                    </form>

                </div>
                <div class="modal-footer">
                    <button (click)="reloadCurrentPage()" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <section class="accountCard col-lg-3" id="accountSection">

        <div [routerLink]="['/account', account?.accountId]">
            <h3><a>Your Account</a></h3>
            <h6>{{ " Opened on: " + account?.dateOfOpening }}</h6><br>
            <h6>{{account?.nominees?.length + " Nominees"}}</h6><br>
            <h6>{{account?.beneficiaries?.length + " Beneficiaries"}}</h6>
            <div *ngIf = "transactions" >

                <h2 id="transactionHeading">Total Transactions: {{transactions.length}}</h2>
    
            </div>

        </div>
        <button (click)="getTransactionsByAccountId()" type="button" class="btn btn-primary" data-bs-toggle="collapse"
            href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">View
            Transactions</button>
    </section>









    <!-- <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div *ngIf="transactions" id="transactionList" class="col-lg-8 col-lg-4">
                <div class="col-lg-12">
                    <div class="card card-margin">
                        <div class="card-body">
                            <div class="row search-body">
                                <div class="col-lg-12">
                                    <div class="search-result">
                                        <div class="result-body">
                                            <div class="table-responsive">
                                                <table class="table widget-26">

                                                    <thead class="transactionListHead">
                                                        <td class="transactionHeadLinks">
                                                            Transaction Remarks
                                                        </td>
                                                        <td class="transactionHeadLinks">
                                                            Date and Time
                                                        </td>
                                                        <td class="transactionHeadLinks">
                                                            Amount
                                                        </td>
                                                        <td class="transactionHeadLinks">
                                                            Type
                                                        </td>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="transactionListRow"
                                                            *ngFor="let transaction of transactions"
                                                            [class.success]="checkTransactionType(transaction)"
                                                            [class.failed]="!checkTransactionType(transaction)">
                                                            <td>
                                                                <div class="widget-26-job-title">
                                                                    <a href="#">{{transaction.transactionRemarks}}</a>
                                                                    <p class="m-0"><span
                                                                            class="text-muted time">{{transaction.transactionStatus}}</span>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="widget-26-job-info">
                                                                    <p class="type m-0">
                                                                        {{getDate(transaction.dateTime)}}</p>
                                                                    <p class="text-muted m-0">at <span
                                                                            class="location">{{getTime(transaction.dateTime)}}</span>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="widget-26-job-salary">{{'₹'
                                                                    +transaction.amount}}
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="widget-26-job-category bg-soft-base">
                                                                    <i *ngIf="checkTransactionType(transaction)"
                                                                        class="indicator bg-success"></i>
                                                                    <i *ngIf="!checkTransactionType(transaction)"
                                                                        class="indicator bg-danger"></i>
                                                                    <span
                                                                        *ngIf="checkTransactionType(transaction)">CREDIT</span>
                                                                    <span
                                                                        *ngIf="!checkTransactionType(transaction)">DEBIT</span>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



    <!-- class="collapse col-lg-8 col-lg-4" id="collapseExample" -->


    <div *ngIf="transactions" id="transactionList">
        <div class="collapse col-lg-8 col-lg-4" id="collapseExample">
            <div class="card card-margin">
                <div class="card-body">
                    <div class="row search-body">
                        <div class="col-lg-12">
                            <div class="search-result">
                                <div class="result-body">
                                    <div class="table-responsive">
                                        <table class="table widget-26">

                                            <thead class="transactionListHead">
                                                <td class="transactionHeadLinks">
                                                    Transaction Remarks
                                                </td>
                                                <td class="transactionHeadLinks">
                                                    Date and Time
                                                </td>
                                                <td class="transactionHeadLinks">
                                                    Amount
                                                </td>
                                                <td class="transactionHeadLinks">
                                                    Type
                                                </td>
                                            </thead>
                                            <tbody>
                                                <tr class="transactionListRow" *ngFor="let transaction of transactions"
                                                    [class.success]="checkTransactionType(transaction)"
                                                    [class.failed]="!checkTransactionType(transaction)">
                                                    <td>
                                                        <div class="widget-26-job-title">
                                                            <a href="#">{{transaction.transactionRemarks}}</a>
                                                            <p class="m-0"><span
                                                                    class="text-muted time">{{transaction.transactionStatus}}</span>
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-info">
                                                            <p class="type m-0">{{getDate(transaction.dateTime)}}</p>
                                                            <p class="text-muted m-0">at <span
                                                                    class="location">{{getTime(transaction.dateTime)}}</span>
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-salary">{{'₹' +transaction.amount}}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-category bg-soft-base">
                                                            <i *ngIf="checkTransactionType(transaction)"
                                                                class="indicator bg-success"></i>
                                                            <i *ngIf="!checkTransactionType(transaction)"
                                                                class="indicator bg-danger"></i>
                                                            <span
                                                                *ngIf="checkTransactionType(transaction)">CREDIT</span>
                                                            <span
                                                                *ngIf="!checkTransactionType(transaction)">DEBIT</span>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <i class="footer-icon fab fa-twitter fa-2x"></i>
        <i class="footer-icon fab fa-facebook-f fa-2x"></i>
        <i class="footer-icon fab fa-instagram fa-2x"></i>
        <i class="footer-icon fas fa-envelope fa-2x"></i>
        <p class="footer-p">© Copyright 2021 IBA</p>

    </footer>


</body>

</html>